<div class="newUserPage">
    <div class="newUserFormBody">
        <div class="newUser">
            <h2>create a new connection!</h2>
            <img class="defaultImg" src="../../../../../images/default.gif" alt="Alternating colors">
        </div>
        <div class="form">
            <div class="userInfo">
                <h2> enter connection info:</h2>
            </div>
            <form action="/users/{{../../userId}}/effects/{{../effectId}}" method="POST">
                <div class="form-input">
                    <label for="connection">connection:</label>
                    <input type="text" name="connection"/>
                </div>
                <div class="form-input">
                    <label for="endedWell">did it end well?:</label>
                    <input type="text" name="endedWell"/>
                </div>
                <div class="form-input">
                    <label for="over">is it over?:</label>
                    <input type="text" name="over"/>
                </div>
                <div class="bottom-buttons">
                    <input class="button primary" type="submit" value="create connection">
                    <a href="/users/{{../../userId}}/effects/{{../effectId}}" class="button warning">cancel</a>
                    <a href="/users">home</a>
                </div>
            </form>
        </div>
    </div>
</div>