<div class="home">
    <div class="homeBody">
        <div class="zeroth">
            <h1>{{title}}</h1>
            <p>"One person's trash is another person's treasure."</p>
            <a class="homeUser" href="users/new">new user</a>
        </div>
        <div class="first">
            
        </div>
        <div class="second">
            <p>Our Mission:</p>
            <p>Fr!end encourages its users to healthfully part with material things. Instead of throwing out old memories, write about it carthartically and maybe even exchange your items with other people.</p>
            <p>Post. Exchange. Let Go.</p>
            </div>
        <div class="third">
           
        </div>
    </div>
</div>
</div>