<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <h1>{{title}}</h1>
    <div class="navigation">
      <a href="/users/new">new user</a>
      <a href="/users">other users</a>
      <a href="/">home</a>
    </div>
    </div>
  </header>
  {{{body}}}
  <footer>

    <h5>trade your effects</h5>

  </footer>
</body>

</html>