<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Syncopate|The+Girl+Next+Door" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="fixed-header">
    <h1>{{title}}</h1>
    <nav>
      <a href="/users/new">new user |</a>
      <a href="/users">all users |</a>
      <a href="/">home</a>
    </nav>

  </div>
  {{{body}}}
  <div class="fixed-footer">
    <div class="image">
      <a href="/"><img src="https://i.imgur.com/GQA8yka.png" alt="Icon"></a> 
      <a href="/users"><img src="https://i.imgur.com/2vZ6US1.png" alt="Icon"></a> 
      <a href="/users/new"><img src="https://i.imgur.com/ezDgCJw.png" alt="Icon"></a> 
    </div>
  </div>
</body>

</html>