/* Layout Set Up: Fixed Header & Footer */
html {
  display: flex;
  justify-content: center;
  height: 100%
}
body {
  height: 100%;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

}

/* Error */

.error {
  margin-top: 100px;
}

/* Header & Footer Styling: Layout Set Up: Fixed Header & Footer  */

.fixed-header, .fixed-footer{
  width: 100vw;
  position: fixed;        
  color: rgb(0, 0, 0);
}

.fixed-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.fixed-header{
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background:rgb(255, 255, 255);
  box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
  height: 15vh;
}
h1 {
  margin: 0;
  font-family: 'Fredericka the Great', cursive;
  font-size: 3em;
}
h2{
  margin-left: 10px;
  font-family: 'Fredericka the Great', cursive;
  font-size: 2em;
}
.fixed-footer{
  bottom: 0;
  height: 10vh;
}

nav a, a{
  color: rgba(2, 0, 3, 0.336);
  text-decoration: none;
}
.image {
  display: flex;
}

/* Home/Landing Page Main CSS */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2em;
  width: 100vw;
  margin: 0px;
}
.homeBody {
  display: grid;
  justify-content: center;
}

.homeBody > div {
  height: 100vh;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
} 
.zeroth{
  background: linear-gradient(to right, rgb(0, 204, 255) , rgb(0, 119, 255));
}
.zeroth > h1, h2 {
  color: black;
}
.zeroth > h1:hover{
  color: white;
}
.zeroth > a {
  color: black;
  font-family: 'Fredericka the Great', cursive;
}
.zeroth > a:hover {
  color: white;
}
.zeroth > p {
  color: black;
  font-size: 36px;
  font-family: 'Fredericka the Great', cursive;
}
.first {
  background: url("https://images.unsplash.com/photo-1509343256512-d77a5cb3791b?auto=format&fit=crop&w=750&q=80");
  background-position: fixed;
}

.second { 
  background: linear-gradient(to right, rgb(0, 204, 255) , rgb(0, 119, 255));
}
.third {
  background: url("https://images.unsplash.com/photo-1484848016494-33ad4fc7feef?ixlib=rb-0.3.5&s=94bcb91194c02735a340b25c485092f7&auto=format&fit=crop&w=1350&q=80");
  background-position: fixed;
}
.second > p {
  color:white;
  margin-left: 10px;
}



/* New User CSS */


.newUserPage {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 100vw;
  height: 150vh;
  margin: 100px 0px;
}

.defaultImg{
  border-radius: 100%;
  height: 100px;
  width: 100px;
}

.newUser, .userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userInfo {
  font-size: .75em;
  }

.newUserFormBody {
  display: flex; 
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

form {
  height: 100%;
  width: 100%;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-input {
display: flex;
justify-content: space-between;
width: 100%;
}

input{
padding: 4px;
border-radius: 4px;
}

.bottom-buttons {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin-top: 10px;
} 
.button.is-primary.is-outlined {
  background-color: transparent;
  border: 1px solid;
  border-radius: 4px;
  border-color: #00d1b2;
  color: #00d1b2;
  padding: 4px;
  width: 30%;
  display: flex;
  justify-content: center;
}
.button.is-primary.is-outlined:hover, .button.is-primary.is-outlined:focus {
  background-color: #00d1b2;
  border-color: #00d1b2;
  color: #fff;
}

/* Users & Effects Index CSS */


.usersIndex {
  width: 100vw;
  margin-top: 100px;
  margin-left: 5px;
}

.usersDisplay {
  width: 100%;
  margin-left: 5px;
  margin-bottom: 100px;
}
.usersPageNavigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 5px;
} 
.userButton {
  background-color: transparent;
  border: 1px solid;
  border-radius: 4px;
  border-color: #00d1b2;
  color: #00d1b2;
  padding: 4px;
  width: 90%;
  display: flex;
  justify-content: center;
  border-color: #00d1b2;
  color:#00d1b2;
}
.userButton:hover {
background-color: #00d1b2;
border-color: #00d1b2;
color: #fff;
}

.effectButton {
  background-color: transparent;
  border: 1px solid;
  border-radius: 4px;
  border-color: #00d1b2;
  color: #00d1b2;
  padding: 4px;
  width: 50%;
  display: flex;
  justify-content: center;
  border-color: #00d1b2;
  color:#00d1b2;
}
.effectButton:hover {
background-color: #00d1b2;
border-color: #00d1b2;
color: #fff;
}

p {
  margin: 20px 0;
  color:#d15e00;
}

/* Images */

.sizeBig {
  width: 95%;
  height: 80%;
  border-radius: 100%;
}

/* For Bigger Screens */

@media only screen and (min-width: 643px) {

  /* Header & Footer  */
  .fixed-header{
    height: 10vh;
  }
  .fixed-footer {
    height: 10vh;
  }

/* Home */
  .second > p {
    color:white;
    margin-left: 20px;
  }

  /* New User Page */
  .newUserFormBody{
    flex-direction: row;
    justify-content: space-between;
  }
  .userInfo {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .form {
    margin-left: 20px;
  }
  .newUser {
    margin-right: 20px;
  }
  .usersDisplay {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px;
  }
}

/* .image {
  width: 20%;
  justify-content: space-around;
} */

/* User Show Page */

.personPage {
  margin-top: 150px;
  margin-bottom: 150px;
  height: 300vh;
}

/* Some CSS responsiveness things that needed to be tended to */

@media only screen and (max-width: 643px) {
  .second > p {
    color:white;
    font-size: 18px;
  }
  .bottom-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
  } 
  .effectButton {
    width: 50%;
  }
}

/* Needed to fix responsiveness bug for edit and create pages */

@media only screen and (max-width: 250px){
  body{
    width: 100vw;
    height: 200vh;
  }
  .newUserPage {
    height: 200vh;
   
  }
  
  .defaultImg{
    height: 100px;
    width: 100px;
  }
  
  .userInfo {
    font-size: 1em;
    }
  
  
  form {
    height: 75%;
    width: 75%;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  }
  
  input{

  border-radius: 4px;
  }
  
  .bottom-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
  } 
  .button.is-primary.is-outlined {
    background-color: transparent;
    border: 1px solid;
    border-radius: 4px;
    border-color: #00d1b2;
    color: #00d1b2;
    padding: 4px;
    width: 30%;
    display: flex;
    justify-content: center;
  }
  .button.is-primary.is-outlined:hover, .button.is-primary.is-outlined:focus {
    background-color: #00d1b2;
    border-color: #00d1b2;
    color: #fff;
  }
 
}

@media only screen and (max-height: 380px){
  body{
    width: 100vw;
    height: 200vh;
  }
  .newUserPage {
    height: 200vh;
  }
  
  .defaultImg{
    height: 100px;
    width: 100px;
  }
  
  .userInfo {
    font-size: 1em;
    }
  
  
  form {
    height: 75%;
    width: 75%;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  }
  
  input{

  border-radius: 4px;
  }
  
  .bottom-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
  } 
  .button.is-primary.is-outlined {
    background-color: transparent;
    border: 1px solid;
    border-radius: 4px;
    border-color: #00d1b2;
    color: #00d1b2;
    padding: 4px;
    width: 30%;
    display: flex;
    justify-content: center;
  }
  .button.is-primary.is-outlined:hover, .button.is-primary.is-outlined:focus {
    background-color: #00d1b2;
    border-color: #00d1b2;
    color: #fff;
  }
  .personPage {
    height: 200vh;
  }
}