
body {
  display: flex;
  flex-direction: column;
  background-color: ghostwhite;
  margin: 0;
  width: 100vw;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.home {
  display: flex;
  flex-direction: column;
  font-size: 2em;
  width: 100%;
}

a {
  color: #010100;
  text-decoration: none;
}
.newUserPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.defaultImg{
  border-radius: 100%;
  height: 150px;
  width: 150px;
}
.newUserFormBody {
  display: flex; 
  flex-direction: column;
  align-items: center;
}
form {
  height: 100%;
  width: 100%;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-input {
display: flex;
justify-content: space-between;
width: 100%;
}
input{
padding: 4px;
border-radius: 4px;
}
.userInfo {
font-size: 1em;
}
.bottom-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.usersDisplay {
  width: 100%;
  display: grid;
  margin: 10px;
}
.usersPageNavigation{
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
header, footer {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background-color: rgba(203, 203, 247, 0.1)
}
/* .personPage{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.personBody{
  width:100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

@media only screen and (min-width: 643px) {
  .home {
    font-size: 4em;
  }
  .newUserFormBody{
    flex-direction: row;
    justify-content: space-between;
  }
  .userInfo {
    width: 100%;
    display: flex;
    justify-content: flex-end;
   
  }
  .form {
    margin-left: 20px;
  }
  .newUser {
    margin-right: 20px;
  }
 .usersDisplay {
   grid-template-rows: repeat(3, 1fr);
   grid-template-columns: repeat(3, 1fr)
 }
  }
