<div class="newUserPage">
    <div class="newUserFormBody">
        <div class="newUser">
            <h2>create a new user!</h2>
            <img class="defaultImg" src="https://i.imgur.com/EmkOkVP.gif" alt="Alternating colors">
        </div>
        <div class="form">
            <div class="userInfo">
                <h2> enter user info:</h2>
            </div>
            <form action="/users" method="POST">
                <div class="form-input">
                    <label for="name">name:</label>
                    <input type="text" name="name" required/>
                </div>
                <div class="form-input">
                    <label for="username">username:</label>
                    <input type="text" name="username" required unique/>
                </div>
                <div class="form-input">
                    <label for="img">user image url:</label>
                    <input type="text" name="img" default/>
                </div>
                <div class="form-input">
                    <label for="description">bio:</label>
                    <input type="text" name="description" />
                </div>
                <div class="bottom-buttons">
                    <input class="button is-primary is-outlined" type="submit" value="create">
                    <a href="/users" class="button is-primary is-outlined" class="middle">cancel</a>
                    <a href="/users" class="button is-primary is-outlined">home</a>
                </div>
            </form>
        </div>
    </div>
</div>